parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertStringContainsString\(\) expects string, array\<mixed\>\|null given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Feature/AsignacionIntegrationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''Sistema permite…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Feature/DataIntegrityTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Feature/MantenimientoControllerHybridTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and ''File upload…'' will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Feature/SecurityTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true and non\-falsy\-string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Feature/SecurityTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php
