includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5  # Aumentamos el nivel para mejor análisis
    treatPhpDocTypesAsCertain: false  # Desactiva warnings para tipos de PHPDoc
    paths:
        - app/Http/Controllers
        - app/Models
        - app/Http/Requests
        - tests/Unit
        - tests/Feature
    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - app/Http/Kernel.php (?)
    ignoreErrors:
        # Errores de Eloquent Model
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$.+#'
        
        # Errores de View strings (Laravel Blade)
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
